.header {
  padding: 24px 0;

  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }

  &Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &Right {
    display: flex;
    align-items: center;
    gap: 56px;

    @media screen and (max-width: 991px) {
      gap: 26px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 56px;

  @media screen and (max-width: 991px) {
    gap: 26px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &Link {
    display: block;
    letter-spacing: 0.05em;
    color: #21334f;
    opacity: 0.8;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

div.menu {
  @media screen and (max-width: 768px) {
    padding-top: 24px;
  }
}

.button {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid rgba(33, 51, 79, 0.7);
  border-radius: 12px;
  color: #21334f;
  padding: 13px 25px;
  letter-spacing: 0.05em;
  min-width: auto;
  background: transparent;

  @media screen and (max-width: 991px) {
    padding: 10px 20px;
  }

  .buttonWrapper {
    border: 0;
    padding: 0;
  }

  &:hover {
    color: #fff;
    background-color: #21334f;
  }
}
