body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

main {
  padding: 0 64px;
}

.card {
  max-width: 400px;
  display: block;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fffbf7;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-weight: 400;
  color: #21334f;
}

.layout {
  overflow: hidden;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1272px;
  width: 100%;
  padding: 0 32px;

  @media screen and (max-width: 768px) {
    padding: 0 24px;
    &.p0 {
      padding: 0;
    }
  }
}

.section {
  padding-top: 144px;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    padding-top: 90px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }

  &--conversion {
    .container {
      @media screen and (max-width: 640px) {
        padding: 0;
      }
    }
  }
}
